@import '~bootstrap/scss/bootstrap';

$step: 50px; 

.field {
  position: relative;
  margin: 50px;
  background-color: #f2f2f2;
  border: 2px solid gray;
  box-sizing: content-box;
}

.snake-part, .target {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: $step; height: $step;
}

.snake-part{
  z-index: 1;
  background: url("https://lh3.googleusercontent.com/proxy/GI4RDpwcvuoor9mZYIvk-z2XsZ8zymzP0kpjisExhMf4TJP8vRWiqmcDzLBJH6AsUR2PKGVIPLr2ZDASKj-48ExSlBX0_k1-rNmsA67tNNc4dR2U");
}

li {
  list-style-type: none;
}

.target {
  background-color:green;
}